.gitattributes git-encoding=ISO8859-1 working-tree-encoding=ISO8859-1                                      
*_fil* git-encoding=ISO8859-1 working-tree-encoding=IBM-1047                                           
*tagge* git-encoding=ISO8859-1 working-tree-encoding=IBM-1047                                           
